.container {
  min-height: 100vh;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100vh;
  gap: 1rem;
}

.product {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #fafafa;
  justify-content: center;
}
